/* -=-=-=-=-=-=-=-=-=-=- IMPORTING GLOBAL STYLE -=-=-=-=-=-=-=-=-=-=- */
@import "style.css";

body {
  margin: 0px;
}

/* -=-=-=-=-=-=-=-=-=-=- HEADER -=-=-=-=-=-=-=-=-=-=- */

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

#register {
  background: linear-gradient(
    var(--white-color) 690px,
    var(--medium-green-color) 10px
  );
}

/* -=-=-=-=-=-=-=-=-=-=- NAVIGATION -=-=-=-=-=-=-=-=-=-=- */

.navigation {
  font-family: var(--opnsans-font);
  font-weight: var(--opnsans-weight-semibold);
  background-color: var(--medium-green-color);

  height: 60px;

  display: flex;
}

.back-button {
  display: flex;
  align-items: center;
  gap: 14px;

  text-decoration: none;
  color: var(--white-color);

  background: #00281e;
  border-radius: 100px;
  padding: 5px 20px;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 400%;
}

.navigation li {
  list-style: none;
}

/* -=-=-=-=-=-=-=-=-=-=- HEADER WRITINGS -=-=-=-=-=-=-=-=-=-=- */

.header-writings {
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-writings h1 {
  font-family: var(--mulish-font);
  font-weight: var(--mulish-weight-black);
  font-size: 30px;
}

.header-writings p {
  font-family: var(--opnsans-font);
  font-size: 18px;
  font-weight: var(--opnsans-weight-semibold);
  color: var(--gray-font-color);

  max-width: 880px;
}

.header-writings span {
  font-family: var(--opnsans-font);
  font-size: 18px;
  font-weight: var(--opnsans-weight-semibold);
  color: var(--gray-font-color);
}

/* -=-=-=-=-=-=-=-=-=-=- FORM USER -=-=-=-=-=-=-=-=-=-=- */

.form-bg {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 780px;
  height: auto;

  border-radius: 10px;
  background-color: var(--white-color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  margin: 30px auto auto 25px;
}

input {
  width: 360px;
  height: 50px;
  padding: 14px 20px 14px 20px;

  background-color: var(--gray-input-color);
  border: 1px solid var(--gray-input-border-color);
  border-radius: 10px;

  font-size: 16px;
  outline: none;
}

input:focus {
  outline: 1.5px solid var(--light-green-color);
}

::placeholder {
  color: var(--gray-font-color);
  font-weight: var(--opnsans-weight-regular);
}

form {
  padding: 30px 20px 0 20px;
}

.form-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* -=-=-=-=-=-=-=-=-=-=- INPUT WITH TWO FIELDS -=-=-=-=-=-=-=-=-=-=- */

.two-inputs {
  display: flex;
  gap: 20px;
}

/* Input Maior */
.medium-input {
  width: 210px;
}

/* Input Menor */
.little-input {
  width: 130px;
}

/* -=-=-=-=-=-=-=-=-=-=- CHECKBOX AND BUTTON -=-=-=-=-=-=-=-=-=-=- */
.terms-of-use {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  gap: 6px;
  text-align: center;
}

.terms-of-use label {
  font-size: 16px;
  font-family: var(--opnsans-font);
  font-weight: var(--opnsans-weight-regular);
  color: var(--gray-font-color);
}

.terms-of-use a {
  color: var(--light-green-color);
}

a {
  text-decoration: none;
  color: var(--medium-green-color);
  font-family: var(--opnsans-font);
  font-weight: var(--opnsans-weight-semibold);
  font-size: 14px;
}

.terms-of-use input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 15px;
  height: 15px;
  outline: none;
  background-color: var(--light-green-color);
}

.center-terms-submit {
  grid-column: 1/-1;
  gap: 20px;
  justify-self: center;

  margin-bottom: 16px;
}

input[type="submit"] {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 11px, 122px, 11px, 122px;
  border-radius: 50px;

  color: var(--white-color);
  font-family: var(--opnsans-font);
  font-size: 16px;
  font-weight: var(--opnsans-weight-bold);

  background-color: var(--light-green-color);
  box-shadow: 0px 7px 7px rgba(77, 187, 114, 0.3);
  outline: none;
}

input[type="submit"]:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

/* -=-=-=-=-=-=-=-=-=-=- FOOTER -=-=-=-=-=-=-=-=-=-=- */

.footer-bg {
  background-color: var(--medium-green-color);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-copy {
  grid-column: 1/-1;
  margin-top: 40px;
}

/* -=-=-=-=-=-=- INPUT PASSWORD WITH EYE -=-=-=-=-=-=- */
.icon-pass {
  position: relative;
}

.icon-pass input[type="password"] {
  background: url("img/eye-visibility.svg");
  /* Define a imagem como background */
  background-position: right center;
  background-color: var(--gray-input-color);
}

.icon-pass .imagem-icon {
  position: absolute;
  width: 32px;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}

.icon-pass .imagem-icon2 {
  position: absolute;
  width: 32px;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* -=-=-=-=-=-=-=-=- STYLE - PROFILE -=-=-=-=-=-=-=-=- */
.bg-nav {
  background-color: var(--medium-green-color);
  height: 200px;
  position: relative;
  z-index: -999;
}


.profile-divisor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -160px;
}

.info-user {
  width: 240px;
  height: 540px;
  
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 30px 20px;
  margin: 30px 0 0 auto;
  margin-left: auto;
  border-radius: 16px;
  border: 1px solid #E1E1E3;

  background-color: var(--white-color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.info-user h1 {
  font-family: var(--mulish-font);
  font-weight: var(--mulish-weight-black);
  font-size: 17px;
  margin-block: 0;
  margin-top: 10px;
}

.info-user p {
  font-family: var(--opnsans-font);
  font-size: 16px;
  font-weight: var(--opnsans-weight-semibold);
  color: var(--gray-font-color);

  max-width: 880px;
  margin-top: 5px;
}

.a-button-del {
  margin-top: 200px
}

.button-del {
  padding: 10px 25px;
  border-radius: 100px;
  border: 1px solid var(--red-color);
  background: var(--white-color);
  color: var(--red-color);
  transition: 0.3s;
}

.button-del:hover {
  transition: 0.3s;
  cursor: pointer;
  background: var(--red-color);
  color: var(--white-color);
}

.form-business-bg {
  display: flex;
  justify-content: center;
  align-items: baseline;

  width: 780px;
  height: 540px;

  border-radius: 16px;
  background-color: var(--white-color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  margin: 30px auto auto 25px;
}

.form-user-bg {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 780px;
  height: 540px;

  border-radius: 16px;
  background-color: var(--white-color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  margin: 30px auto auto 25px;
}

.top-buttons-profile {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px 0px 15px 0px;
  margin: -10px auto 20px auto;
  border-bottom: 1px solid var(--gray-line-profile);
  gap: 20px;
}

.edit-button {
  padding: 10px 1px;
  background: transparent;
  border: none;
  color: var(--medium-green-color);
  font-weight: bold;
}

.active {
  border-bottom: 1px solid var(--medium-green-color);
}

.border-bottom {
  border-bottom: 1px solid var(--white-color);
  color: var(--light-green-color);
}

.request-register-options {
  grid-column: 1/-1;
  gap: 20px;
  justify-self: baseline;

  margin-bottom: 16px;
}

h1 {
  font-family: var(--mulish-font);
  font-weight: var(--mulish-weight-black);
  font-size: 20px;
  text-align: center;
  color: var(--dark-green-color);
}

h2 {
  font-family: var(--mulish-font);
  font-weight: var(--mulish-weight-black);

  font-size: 17px;
  color: var(--medium-green-color);
  width: 100%;
}

.options-collect-box {
  display: flex;
  align-items: center;
  gap: 115px;
}

.options-collect-box input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 15px;
  height: 15px;
  outline: none;
  background-color: var(--light-green-color);
}

.options-collect-box label {
  display: flex;
  gap: 5px;  
  font-size: 16px;
  font-family: var(--opnsans-font);
  font-weight: var(--opnsans-weight-regular);
  color: var(--gray-font-color);
  margin-top: 10px;
}

.table-info {
  font-family: var(--opnsans-font);
  font-weight: var(--opnsans-weight-regular);
  width: 100%;
  border-collapse: collapse;
}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: var(--color-bg-table);
}

.trash-button {
  background-color: var(--medium-green-color);
  border-radius: 14px;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}

.trash-button:hover {
  transition: .3s;
  background-color: var(--red-color);
}

#confirmationModal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 400px;

  border: 1px solid var(--gray-line-profile);
}

#confirmationModal p {
  font-size: 20px;
  color: red;
  text-align: center;
}

#confirmationModal input {
  
}