@import "style.css";

.navigation {
  font-family: var(--opnsans-font);
  font-weight: var(--opnsans-weight-semibold);
  background-color: var(--medium-green-color);

  height: 60px;

  display: flex;
  align-items: center;
}

.navigation a {
  list-style: none;
  text-decoration: none;
  color: var(--white-color);
  margin-left: 30px;
}

.header-writings {  
  margin-top: 50px;
  text-align: center;
}

.header-writings h1 {
  font-family: var(--mulish-font);
  font-weight: var(--mulish-weight-black); 
  font-size: 1.875rem; 
}

.header-writings p {
  font-family: var(--opnsans-font);
  font-weight: var(--opnsans-weight-semibold);
  color: var(--gray-font-color);

  font-size: 1.125rem;
  margin-top: 30px;
}

.form-bg {
  background-color: var(--white-color);
  width: 780px;
  height: 552px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  margin: auto;
  margin-top: 30px;
}

input {
  width: 360px;
  height: 50px;
  border-radius: 10px;
  padding: 14px 20px 14px 20px;
  background-color: var(--gray-input-color);
  border: 1px solid var(--gray-input-border-color);
  /* outline: 1px solid var(--light-green-color); FALTA ADICIONAR FOCO VERDE NA HORA QUE O USUÁRIO SELECIONAR O CAMPO */
}

.footer {
  background-color: var(--medium-green-color); 
  height: 145px;
  display: block;
}