/* -=-=-=-=-=-=-=-=-=-=- IMPORTATION OF FONTS GOOGLE -=-=-=-=-=-=-=-=-=-=- */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@900&family=Open+Sans:wght@400;600;700&display=swap');

/* -=-=-=- VARIABLES OF PROJECT -=-=-=- */
:root {
  /* COLORS */
  --dark-green-color: #00281E;
  --medium-green-color: #006A4E;
  --light-green-color: #4DBB72;
  --gray-font-color: #A2A3A5;
  --dark-gray-font-color: #616161;
  --gray-input-color: #F3F4F6;
  --gray-input-border-color: #E1E1E3;
  --white-color: #FFFFFF;
  --logo-eco-color: #7CC529;
  --logo-trash-color: #46780D;

  /* FONTS */
  --mulish-font: 'Mulish', sans-serif;
  --opnsans-font: 'Open Sans', sans-serif;

  /* WEIGH FONTS */
  --mulish-weight-black: 900;
  --opnsans-weight-regular: 400;
  --opnsans-weight-semibold: 600;
  --opnsans-weight-bold: 700;
}

/* -=-=-=-=-=-=-=-=-=-=- FORM USER -=-=-=-=-=-=-=-=-=-=- */

* {
  box-sizing: border-box;
}