@import "style.css";

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 10rem;
}

h1 {
    font-family: var(--mulish-font);
    color: var(--dark-green-color);
    font-weight: var(--mulish-weight-black);
    text-align: center;
}

.line {
    background-color: yellow;
}

h2 {
    font-family: var(--opnsans-font);
    color: var(--medium-green-color);
    font-weight: var(--opnsans-weight-bold);
}

p {
    font-family: var(--opnsans-font);
    font-weight: var(--opnsans-weight-regular);
    text-align: justify;
}

.right {
    text-align: right;
    font-style: italic;
}