@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@900&family=Open+Sans:wght@400;600&display=swap');

:root {
  --dark-green-color: #00281E;
  --medium-green-color: #006A4E;
  --light-green-color: #006A4E;
}